/* css styles */
h1:first-of-type {
  background: linear-gradient(to bottom, yellow, aqua);
  color: white;
  font-size: 3em;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  margin: 20px;
}